<div class="card-box col-12 col-md-6 col-lg-4">
  <div class="card content-card border-dark mb-3">
    <div class="card-header p-0">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe width="560" height="315" src=<%= movie.url %> frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="card-body">
      <a href="#" class="btn btn-secondary btn-block">読破済みにする</a>
      <p class="card-title mt-3"> Lv.<%= movie_counter + 1 %> : <%= movie.title %></p>
      <p>【<%= movie.genre %>】</p>
    </div>
  </div>
</div>
