<div class="container">
  <h1 class="text-center mt-2 mb-4">Ruby/Rails <br class="d-sm-none">
    動画</h1>
  <div class="row row-eq-height">
    <%= render partial: "movie", collection: @movies %>
  </div>
</div>
<%= paginate @movies %>