/*
 *= require_tree .
 *= require_self
 */

@import 'bootstrap/scss/bootstrap';

/* 全体 */

.base-container {
  margin: 0 auto;
  padding: 1rem;
}

a:hover {
  text-decoration: none;
}

/* max-width */

.mw-sm {
  max-width: 576px;
}

.mw-md {
  max-width: 768px;
}

.mw-lg {
  max-width: 992px;
}

.mw-xl {
  max-width: 1200px;
}

body {
  padding-top: 59px;
}

/* alert */

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}
