<div class="container">
  <h1 class="text-center mt-2 mb-4"><%= text_page_title %><br class="d-sm-none">
  </h1>
  <div class="row">
    <%= render partial: "text", collection: @texts %>
  </div>
</div>
