<h1 class="title text-center mt-2 mb-4">条件分岐</h1>

<%
  content = <<~TEXT
  条件分岐とは、「もし〜だったら〜の処理をする」というように、条件によって行う処理を変えるために使用されるものです。条件分岐を実装するときには`if`や`unless`を使用します。ではさっそく、それぞれの使い方を学んでいきましょう。

  ## if

  `if`の基本的な書き方は以下の通りとなります。

  ```
  hp = 10

  if hp >= 10
    puts "勇者のHPは10以上だ"
  end
  ```


  `if`の右側に書かれている`hp >= 10`が条件式となります。こちらの評価結果が成り立つ場合に、`if`と`end`で囲まれた部分の処理が実行されます。条件式にかかれている`>=`の部分は比較演算子と呼ばれ、以下のような種類があることを理解しておきましょう。

  |比較演算子|意味|
  |---|---|
  |a >= b|aはb以上|
  |a <= b|aはb以下|
  |a > b|aはbより大きい|
  |a < b|aはbより小さい|
  |a == b|aはbと等しい|

TEXT
%>
<div class="markdown">
  <%= markdown(content) %>
</div>